{% extends "layout.html" %}
{% block body %}
<div class="row">
  <form enctype="multipart/form-data" action="{{ url_for('update_wallet') }}" method=post class=add-entry>
    <div class="six columns">
      <label for=name>{{ _('Credits') }}:</label>
      <input class="u-full-width" type=number pattern="[0-9]{4,}" name=money value="{{ wallet.money }}" required>
    </div>
    <div class="six columns">
      <label for=name>{{ _('Used something?') }}:</label>
      <select name=preselection id=preselection class="u-full-width">
	<option value="0">{{ _('Select your beverage or snack') }}</option>
	<option value="3">Club Mate</option>
      </select>
    </div>
</div>
<hr>
<h3 id="photo-row-toggle" >+ {{ _('Change your photo') }}</h3>
<div class="row" id="photo-row" style="display:none">
    <div class="twelve columns">
      <input type="file" accept="image/*" capture="camera" name="photo" id="photo">
    </div>
    <div class="twelve columns">
      <img id="photo-preview" style="height: 100px;" src="/uploads/{{ wallet.photo }}">
    </div>
</div>
<hr>
<div class="row">
    <div class="six columns">
      <label for=new-pin>{{ _('Change your pin') }}:</label>
      <input type=number pattern="[0-9]{4,}" title="4 digits minimum" name=new-pin class="pin-password u-full-width" placeholder="{{ _('Change your numeric pin') }}">
    </div>
</div>
<hr>
<div class="row">
    <div class="twelve columns">
      <input type=submit value="{{ _('Save') }}" class="button-primary u-full-width"> 
      <input type="hidden" name="id" value="{{ wallet.id }}">
    </div>
  </form>
</div>

<script>
(function() {
  if (window.File && window.FileReader && window.FormData) {
    var inputField = jQuery('#photo');
    inputField.on('change', function (e) {
      var file = e.target.files[0];
      if (file) {
        if (/^image\//i.test(file.type)) {
	  var fileReader = new FileReader();
	  fileReader.onload = function (event) {
	    jQuery('#photo-preview')[0].src = event.target.result;
	  };
	  fileReader.readAsDataURL(file);

        } else {
	  alert('{{ _('The supplied file format is not supported') }} ')
	}
      }
    });
  }

  jQuery('#photo-row-toggle').click(function(){
    $('#photo-row').slideToggle();
  });

  var input = jQuery( "#photo" )[0]
  root = input.createShadowRoot();

  root.innerHTML = "<button tabindex='-1'>Select File</button>";
  input.addEventListener( "keydown", function( event ) {
    if ( event.keyCode === 13 || event.keyCode === 32 ) {
      input.click();
    }
  });
  input.addEventListener( "change", function() {
    console.log( "You selected: " + this.value );
  });
})();
</script>
{% endblock %}
