<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bytewallet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<head/>
<div>&nbsp;</div>
  <div class="section">
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
  </div>

  <div class="section">
    <div class="container">
      <nav class=metanav>
        <a class="button" href="{{ url_for('show_wallets') }}">{{ _('Wallets') }}</a>
        <a class="button" href="#search">{{ _('Search') }}</a>
        <a class="button" href="{{ url_for('new_wallet') }}">{{ _('New wallet') }}</a>
      </nav>
    </div>

  <div class="container">
    {% block body %}{% endblock %}
  </div>
</div>
