<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bytewallet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<head/>
<div>&nbsp;</div>
  <div class="section">
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
  </div>

  <div class="section">
    <div class="container">
      <nav class=metanav>
        <a class="button" href="{{ url_for('show_wallets') }}">{{ _('Wallets') }}</a>
        <a class="button" href="{{ url_for('new_wallet') }}">{{ _('New wallet') }}</a>
        <a class="button" id="search-button" href="#search">
	  <span id="search-button-text">{{ _('Search') }}</span>
	  <input type="search" id="search-field" class="u-full-width" placeholder="{{ _('Search for wallet') }}" style="display:none">
	  <button id="search-submit-button">&rarr;</button>
	</a>
      </nav>
    </div>

  <div class="container">
    {% block body %}{% endblock %}
  </div>
</div>
<script>
  jQuery('#search-button').click(function(){
    if (jQuery('#search-button').data('open') != true) {
      jQuery('#search-button')
        .animate({width:'300px'},350)
        .data('open', true);
      jQuery('#search-button-text').hide();
      jQuery('#search-field').show().focus();
      jQuery('#search-submit-button').show();
    }
  });
  jQuery('#search-submit-button').click(function() {
    if(jQuery('#search-field').val()) {
      window.location.href = '/wallets/' + jQuery('#search-field').val();
    }
  });
</script>
